.content__wrapper{
  width: 200px;
  max-height: 350px;
  background-color: #020917;
  border-radius: 5px;
}

.content__logo{
  height: 200px;
}

.center {
  margin: auto;
  padding: 12px;
  text-align: center;
}

.gold {
  color: gold;
}
