<ng-container *transloco="let g; read('sections')">
  <ng-container *transloco="let l; read('education.schools')">

    <div class="p-grid">
      <div class="p-col-12">
        <h2>{{g('education')}}  </h2>
      </div>
      <div class="p-sm-10 p-md-7">
        <div class="education-card p-grid bg-gradient-dark" *ngFor="let event of events">
          <div class="school-picture p-sm-10 p-md-3">
            <app-image-loader
              [src]="'assets/images/logos/' + event.image"
              styles="width: 100%;"
            >
            </app-image-loader>
          </div>
          <div class="school-info p-sm-10 p-md-8">
            <h3>  {{l(event.status)}}</h3>
            <div class="p-grid">
              <div class="p-col-12">
                <p>
                  {{l(event.description)}}
                </p>
              </div>
              <div class="p-col-12">
                <div class="date-badge bg-gradient-chill">
              <span>
               {{event.dates}}
              </span>
                </div>
              </div>
              <div class="p-col-12">
                <div class="badge bg-gradient-chill">
                  <span>{{event.city}}</span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </ng-container>

  <div class="p-grid">
    <div class="p-col-12">
      <h2>{{g('courses')}}  </h2>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <app-course-list></app-course-list>
    </div>
  </div>
</ng-container>


