#content{
  padding-left: 4rem;
  transition: margin-left .5s;
  background: var(--bg-color);
}

@media only screen and (max-width: 770px) {
  #content{
    padding-left: 0;
    margin-left: 2rem;
    transition: margin-left .5s;
  }
}
