<app-section-loader></app-section-loader>
<app-nav-bar></app-nav-bar>
<div  id="lateral-nav" class="open">
  <app-side-bar #sideBar>
  </app-side-bar>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>

<!--
<div class="p-grid">
  <div id="lateral-nav" class="p-col-12 p-md-2 open">
    <app-side-bar>
    </app-side-bar>
  </div>
  <div class="p-col-12 p-md-10">
    <div class="p-grid p-m-6">
      <div class="p-col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

-->
