.nav-bar{
  width: 100%;
  overflow: hidden;
  height: 5rem;
  position: fixed;
  margin-bottom: 5rem;
  background: black;
  z-index: 1000;
}


.button-dark {
  font-family: "Montserrat", "slkscr", "Helvetica Neue", sans-serif;
  color: white;
  background: black;
  transition: all .3s ease;
  font-size: 20px;

  &:active {
    transform: scale(1.1, 1.1);
  }
}

@media only screen and (max-width: 770px) {
  .nav-bar{
    width: 100%;
    overflow: hidden;
    height: 5rem;
    margin-bottom: 5rem;
    background: #020917;
  }
}
