.nav-bar{
  width: 100%;
  overflow: hidden;
  height: 5rem;
  position: fixed;
  margin-bottom: 5rem;
  background: black;
}


@media only screen and (max-width: 770px) {
  .nav-bar{
    width: 100%;
    overflow: hidden;
    height: 5rem;
    margin-bottom: 5rem;
    background: black;
  }
}
