.nav-bar{
  overflow: hidden;
  position: fixed;
  background:  linear-gradient(135deg, var(--primary) 0%,#0291e3 100%);;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  width: 100%;
}


.button-dark {
  font-family: "Montserrat", "slkscr", "Helvetica Neue", sans-serif;
  color: white;
  background: transparent;
  transition: all .3s ease;
  font-size: 20px;

  &:active {
    transform: scale(1.1, 1.1);
  }
}
