.job-item {
  margin-bottom: 1rem;
  overflow: hidden;
  transition: 0.3s;
}

.item-divider {
  border-bottom: solid 1px white;
}


.positions-container {
  margin-left: 10px;
  border-left: 2px solid white;
  position: relative;
}

.position-dot{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  left: -8.5px;
}

.position-description{
  padding-left: 1rem;
}

.job-logo{
  object-fit: contain;
}

.responsive-image-logo {
  width: 10rem;
  height: auto;
}

h4{
  border: none;
}

@media only screen and (max-width: 770px) {
  .responsive-image-logo {
    height: 10rem;
  }
}

