.side-bar {
  height: 100vh;
  word-break: break-word;
  position: fixed;
  margin-top: 4.5rem;
  width: 250px;
  box-shadow: 0 10px 40px rgb(0 0 0 / 10%);
  background: var(--bg-color);
}

.open {
  width: 250px;
  transition: all .5s cubic-bezier(.7, 0, .3, 1);
}

.close {
  width: 0;
  transition: all .5s cubic-bezier(.7, 0, .3, 1);
}

.side-bar-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-side{
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 770px) {
  .side-bar {
    border-bottom: solid 1px black;
    border-right: none;
    width: 100%;
  }

  .open{
    height: 750px;
    transition: all .5s cubic-bezier(.7, 0, .3, 1);
  }
  .close{
    height: 0;
    transition: all .5s cubic-bezier(.7, 0, .3, 1);
  }
}

