.side-bar {
  height: 100vh;
  background: white;
  border-right: solid 1px black;
  padding-right: 1rem;
}


.side-bar-content{
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
