.side-bar {
  background: white;
  height: 100vh;
  border-right: solid 1px black;
  word-break: break-word;
  position: fixed;
  margin-top: 5rem;
  width: 250px;
}

.open {
  transform: translateX(0%);
  transition: all .2s cubic-bezier(.7, 0, .3, 1);
}

.close {
  transform: translateX(-100%);
  transition: all .2s cubic-bezier(.7, 0, .3, 1);
}

.side-bar-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toggle-bar {
  width: 100%;
  background: black;
  margin-bottom: 1rem;
}

.side-bar-compress {
  transform: translateX(-100%);
  transition: all .2s cubic-bezier(.7, 0, .3, 1);
}

.content-side{
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 770px) {
  .side-bar {
    height: auto;
    border-bottom: solid 1px black;
    border-right: none;
    position: relative;
    width: 100%;
  }
}

