<ng-container *transloco="let g; read('sections')">
  <div class="side-bar">
    <app-lang-picker></app-lang-picker>

    <app-side-item-option
      [label]="g('about-me')"
      link="/about-me"
      (selectItem)="listenSelectedItem($event)"
    >
    </app-side-item-option>
    <app-side-item-option
      [label]="g('education')"
      (selectItem)="listenSelectedItem($event)"
      link="/education"
    >
    </app-side-item-option>
    <app-side-item-option
      [label]="g('experience')"
      (selectItem)="listenSelectedItem($event)"
      link="/experience"
    >
    </app-side-item-option>

    <app-side-item-option
      [label]="g('skills')"
      (selectItem)="listenSelectedItem($event)"
      link="/skills"
    >
    </app-side-item-option>

    <app-side-item-option
      [label]="g('personal-projects')"
      (selectItem)="listenSelectedItem($event)"
      link="/personal-projects"
    >
    </app-side-item-option>
  </div>
</ng-container>
