<ng-container *transloco="let l; read('education.courses.components.courseItem')">

  <div class="p-grid course-container">
    <img [src]="'assets/images/logos/courses/' + course.platform + '.svg'" alt="" class="responsive-image-logo background-logo">

    <div class="p-col-12  item-divider">
      <h4>{{course.title}}</h4>
      <p>
        {{l('expeditionDate')}}: {{course.expeditionDate}}
      </p>
      <p>
        {{l('credentialID')}}: {{course.credentialId}}
      </p>
    </div>
    <div class="p-col-12">
      <button class="button" (click)="openCredentialWindow()"> {{l('watchCertificate')}}</button>
    </div>
  </div>
</ng-container>


