.course-item {
  margin-bottom: 1rem;
  overflow: hidden;
  transition: 0.3s;
}

.item-divider {
  z-index: 1000;
}


.course-logo {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.responsive-image-logo {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
}

.background-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}


.course-container {
  position: relative;
  background-color: black;
  border-radius: 10px;
  height: auto;
  width: 100%;
}

h4 {
  border: none;
}

@media only screen and (max-width: 770px) {
  .responsive-image-logo {
    height: 10rem;
  }
}
