
.lang-label{
  text-align: center;
}


.lang-selected{
  background: #666464;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.lang-option{
  transition: 0.5s;
  &:hover{
    background: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
  }
}
