@import "~primeflex/primeflex.scss";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/mdc-light-indigo/theme.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: slkscr;
  src: url(assets/fonts/slkscr.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: "slkscr", "Helvetica Neue", sans-serif; }


.quote {
  padding: 1rem;
  border: solid 2px darkred;
  border-radius: 5px;
  font-family: "slkscr", serif;
}
