@import "~primeflex/primeflex.scss";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova/theme.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: slkscr;
  src: url(assets/fonts/slkscr.ttf) format("opentype");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "slkscr", "Helvetica Neue", sans-serif;
}


.quote {
  padding: 1rem;
  border: solid 2px darkred;
  border-radius: 5px;
  transition: 1s;
}

.title {
  transition: 1s;
}

/*
.quote:hover{
  transform: scale(1.1,1.1);
  transition: 1s;
}*/

.custom-font {
  font-family: "slkscr", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4 {
  border-bottom: solid 2px black;

  &:before {
    content: '# ';
  }

}

.responsive-image {
  width: 100%;
  height: auto;
}

.responsive-flag {
  height: 3rem;
  width: 100%;
}

.rounded-img {
  border-radius: 50%;
}

.fit-contain {
  object-fit: contain;
  width: 100%;
}

.button {
  font-family: "slkscr", "Helvetica Neue", sans-serif;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background: black;
  color: white;
  transition: 0.3s;
}

.button:active {
  background: #484848;
  color: white;
  transform: scale(1.1, 1.1);
  transition: 0.3s;
  border: none;
}

.button:focus {
  border: none;
}

.button-dark {
  color: white;
  background: black;

  &:hover {
    background: white;
    color: black;
    transition: 0.3s;
  }

  &:active {
    color: black;
  }
}

@media only screen and (max-width: 770px) {
  .responsive-image {
    height: 12rem;
    width: 12rem;
  }
}
