.hash {
  font-size: 20px;
  font-weight: bold;
  margin-right: 0.2rem;
}


.item {
  width: 100%;
  margin: 1rem;
  height: auto;
  padding: 1rem;
}

.item:hover {
  cursor: pointer;
  background: black;
  color: white;
  transition: 0.5s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}



.item-selected{
  background: #666464;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.5s;
}
